USE [master]
GO
/****** Object:  Database [TicketPro]    Script Date: 24/5/2024 17:47:32 ******/
CREATE DATABASE [TicketPro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TicketPro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TicketPro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TicketPro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TicketPro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicketPro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicketPro]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 24/5/2024 17:47:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](50) NOT NULL,
	[Id_Medio_Pago] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24/5/2024 17:47:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [int] NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[IsBlock] [bit] NOT NULL,
	[Rol] [nvarchar](50) NULL,
 CONSTRAINT [PK_User_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [DNI], [Apellido], [Nombre], [Username], [Password], [IsBlock], [Rol]) VALUES (8, 20546344, N'Cruz', N'Juan', N'JuanCruz', N'7c382fc857729b17dc789b916e4db80a8ee421ca5467905c12d7c55a4086739f', 0, N'Planificador')
INSERT [dbo].[Users] ([Id], [DNI], [Apellido], [Nombre], [Username], [Password], [IsBlock], [Rol]) VALUES (9, 1234, N'Perez', N'Pedro', N'PedroPerez', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 0, N'Cajero')
INSERT [dbo].[Users] ([Id], [DNI], [Apellido], [Nombre], [Username], [Password], [IsBlock], [Rol]) VALUES (13, 45225577, N'Antiñolo', N'Lucas', N'Lucas', N'cacdda6e5cef374e9a51fe7dd55cc4687ae68ff9e29f006fd648064c29c63546', 0, N'Analista Programador')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_User]    Script Date: 24/5/2024 17:47:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User] ON [dbo].[Users]
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_BlockUser]    Script Date: 24/5/2024 17:47:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_BlockUser]
@In_Id int
AS BEGIN
UPDATE Users
SET IsBlock = CASE WHEN IsBlock = 1 THEN 0 ELSE 1 END
WHERE Id = @In_Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUser]    Script Date: 24/5/2024 17:47:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_DeleteUser]
@In_Id int
AS BEGIN
Delete  from Users where ID = @In_Id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUser]    Script Date: 24/5/2024 17:47:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetUser] 
@In_username nvarchar(50) = null
as
begin
select * from Users where Username = @In_username OR @In_username is null
end
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertUser]    Script Date: 24/5/2024 17:47:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_InsertUser]
@In_DNI int ,
@In_Apellido nvarchar(50) ,
@In_Nombre nvarchar(50) ,
@In_Username nvarchar(50),
@In_Password nvarchar(100) , 
@In_Rol nvarchar(50)
 AS BEGIN
 Insert into Users (DNI , Apellido, Nombre, Username ,  Password , IsBlock, Rol) values (@In_DNI , @In_Apellido , @In_Nombre , @In_Username , @In_Password , 0 , @In_Rol)
 end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePassword]    Script Date: 24/5/2024 17:47:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_UpdatePassword]
@In_Id int ,
@In_NewPassword nvarchar(100)
as begin
UPDATE Users
SET Password = @In_NewPassword 
WHERE Id = @In_Id
end;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 24/5/2024 17:47:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateUser]
@In_Id int ,
@In_DNI int ,
@In_Nombre nvarchar(50) ,
@In_Apellido nvarchar(50) ,
@In_Rol nvarchar(50)

AS BEGIN
Update Users SET
DNI = @In_DNI , Nombre = @In_Nombre , Apellido = @In_Apellido , Rol = @In_Rol
WHERE Id = @In_Id
END
GO
USE [master]
GO
